<router-outlet></router-outlet>

<div class="container">
  <div class="chat-box">
    <div class="chat-header">
      <div class="profile-details">
        <img src="../assets/Profile-1.jpg" alt="profile" class="profile-img" />
        <span class="user-name">User Name</span>
      </div>
      <div>
        <span class="icon"><i class="fas fa-bell"></i></span>
        <span class="icon"><i class="fas fa-info-circle"></i></span>
      </div>
    </div>
    <div class="chat-content">
      <div *ngFor="let chat of messageList">
        <div class="receiver" *ngIf="myId != chat.id">
          <div class="receiver-img">
            <img src="{{ chat.url }}" alt="profile" class="chat-img" />
          </div>
          <div class="receiver-content">
            <div class="receiver-msg">
              <span>{{ chat.message }}</span>
            </div>
          </div>
        </div>
        <div class="sender" *ngIf="myId === chat.id">
          <div class="sender-img">
            <img src="{{ chat.url }}" alt="profile" class="chat-img-sender" />
          </div>
          <div class="msg-content">
            <div class="sender-msg">
              <span>{{ chat.message }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-input">
      <textarea
        placeholder="Enter Messages"
        class="form-control"
        [(ngModel)]="newMessage"
        (keyup)="$event.keyCode == 13 && sendMessage()"
      ></textarea>
      <span class="submit-button" (click)="sendMessage()">
        <i class="fa-solid fa-paper-plane"></i>
      </span>
    </div>
  </div>
</div>

<!-- <div *ngFor="let message of messageList">
  <li>
    {{ message }}
  </li>
</div>

<input
  [(ngModel)]="newMessage"
  (keyup)="$event.keyCode == 13 && sendMessage()"
/>
<button (click)="sendMessage()">Send Message</button> -->
